[submodule "lib/ohmyzsh"]
	path = lib/ohmyzsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule "lib/powerlevel10k"]
	path = lib/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
[submodule "lib/powerlevel10k-media"]
	path = lib/powerlevel10k-media
	url = git@github.com:romkatv/powerlevel10k-media.git
[submodule "lib/vim-plugins/vim-gitgutter"]
	path = lib/vim-plugins/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
    branch = main
[submodule "lib/vim-plugins/nvim-lspconfig"]
	path = lib/vim-plugins/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig.git
[submodule "lib/vim-plugins/nvim-jdtls"]
	path = lib/vim-plugins/nvim-jdtls
	url = git@github.com:mfussenegger/nvim-jdtls.git
[submodule "lib/vim-plugins/LuaSnip"]
	path = lib/vim-plugins/LuaSnip
	url = git@github.com:L3MON4D3/LuaSnip.git
[submodule "lib/vim-plugins/cmp_luasnip"]
	path = lib/vim-plugins/cmp_luasnip
	url = git@github.com:saadparwaiz1/cmp_luasnip.git
[submodule "lib/vim-plugins/nvim-cmp"]
	path = lib/vim-plugins/nvim-cmp
	url = git@github.com:hrsh7th/nvim-cmp.git
    branch = main
[submodule "lib/vim-plugins/cmp-nvim-lsp"]
	path = lib/vim-plugins/cmp-nvim-lsp
	url = git@github.com:hrsh7th/cmp-nvim-lsp.git
    branch = main
[submodule "lib/vim-plugins/gitsigns.nvim"]
	path = lib/vim-plugins/gitsigns.nvim
	url = git@github.com:lewis6991/gitsigns.nvim.git
    branch = main
[submodule "lib/vim-plugins/plenary.nvim"]
	path = lib/vim-plugins/plenary.nvim
	url = git@github.com:nvim-lua/plenary.nvim.git
[submodule "lib/vim-plugins/cmp-buffer"]
	path = lib/vim-plugins/cmp-buffer
	url = git@github.com:hrsh7th/cmp-buffer.git
    branch = main
[submodule "lib/vim-plugins/cmp-path"]
	path = lib/vim-plugins/cmp-path
	url = git@github.com:hrsh7th/cmp-path.git
    branch = main
[submodule "lib/vim-plugins/cmp-cmdline"]
	path = lib/vim-plugins/cmp-cmdline
	url = git@github.com:hrsh7th/cmp-cmdline.git
    branch = main
[submodule "lib/vim-plugins/friendly-snippets"]
	path = lib/vim-plugins/friendly-snippets
	url = git@github.com:rafamadriz/friendly-snippets.git
    branch = main
[submodule "lib/vim-plugins/cmp-nvim-lua"]
	path = lib/vim-plugins/cmp-nvim-lua
	url = git@github.com:hrsh7th/cmp-nvim-lua.git
    branch = main
[submodule "lib/vim-plugins/telescope.nvim"]
	path = lib/vim-plugins/telescope.nvim
	url = git@github.com:nvim-telescope/telescope.nvim.git
[submodule "lib/vim-plugins/nvim-treesitter"]
	path = lib/vim-plugins/nvim-treesitter
	url = git@github.com:nvim-treesitter/nvim-treesitter.git
[submodule "lib/vim-plugins/nvim-ts-rainbow"]
	path = lib/vim-plugins/nvim-ts-rainbow
	url = git@github.com:p00f/nvim-ts-rainbow.git
[submodule "lib/vim-plugins/nvim-tree.lua"]
	path = lib/vim-plugins/nvim-tree.lua
	url = git@github.com:kyazdani42/nvim-tree.lua.git
[submodule "lib/vim-plugins/nvim-web-devicons"]
	path = lib/vim-plugins/nvim-web-devicons
	url = git@github.com:kyazdani42/nvim-web-devicons.git
[submodule "lib/vim-plugins/bufferline.nvim"]
	path = lib/vim-plugins/bufferline.nvim
	url = git@github.com:akinsho/bufferline.nvim.git
    branch = main
[submodule "lib/vim-plugins/vim-bbye"]
	path = lib/vim-plugins/vim-bbye
	url = git@github.com:moll/vim-bbye.git
[submodule "lib/vim-plugins/null-ls.nvim"]
	path = lib/vim-plugins/null-ls.nvim
	url = git@github.com:jose-elias-alvarez/null-ls.nvim.git
    branch = main
[submodule "lib/vim-plugins/impatient.nvim"]
	path = lib/vim-plugins/impatient.nvim
	url = git@github.com:lewis6991/impatient.nvim.git
    branch = main
[submodule "lib/vim-plugins/indent-blankline.nvim"]
	path = lib/vim-plugins/indent-blankline.nvim
	url = git@github.com:lukas-reineke/indent-blankline.nvim.git
[submodule "lib/vim-plugins/lualine.nvim"]
	path = lib/vim-plugins/lualine.nvim
	url = git@github.com:nvim-lualine/lualine.nvim.git
[submodule "lib/vim-plugins/Comment.nvim"]
	path = lib/vim-plugins/Comment.nvim
	url = git@github.com:numToStr/Comment.nvim.git
[submodule "lib/vim-plugins/vscode.nvim"]
	path = lib/vim-plugins/vscode.nvim
	url = git@github.com:Mofiqul/vscode.nvim.git
    branch = main
[submodule "lib/cpython"]
	path = lib/cpython
	url = git@github.com:python/cpython.git
[submodule "lib/neovim"]
	path = lib/neovim
	url = git@github.com:neovim/neovim.git
