[submodule "lib/ohmyzsh"]
	path = lib/ohmyzsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule "lib/powerlevel10k"]
	path = lib/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
[submodule "lib/powerlevel10k-media"]
	path = lib/powerlevel10k-media
	url = git@github.com:romkatv/powerlevel10k-media.git
